
<% content_for :title, "Menu" %>
<main class="grid mx-2 lg:mx-6 xl:mx-40 m-auto grid-cols-1 lg:grid-cols-2  gap-4 w-full xl:w-4/5" style="margin: auto;">

  <% @menu.each do |item| %>
    <div class="flex rounded-3xl p-2 border-4 hover:bg-rose-50 text-white hover:text-black duration-500 xl:h-52 gap-1 cursor-default">
      <%# Title - Description - Price %>
      <div class="flex flex-col justify-between w-3/4">
        <div class="">
          <%= tag.p item.title, class: "font-heading text-xl xl:text-4xl " %>
          <%= tag.p item.description, class: "mt-2 xl:text-xl " %>
        </div>
        <%= tag.p "$ #{item.price}", class: "xl:text-xl font-bold " %>
      </div>
      <%# Image - Add to cart button %>
      <div class="relative w-1/4">
        <img src="https://plus.unsplash.com/premium_photo-1661517302764-a5fa40c34bf0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" alt="" class="h-full w-full rounded-xl">
        <%= form_tag(add_to_cart_path(item), method: :post) do %>
          <button type="submit" class="w-8 h-8 absolute bottom-1 right-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus-circle fill-red-500 rounded-full hover:bg-rose-200 duration-500 bg-white" viewBox="0 0 16 16">
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
</main>


<!--

<% @menu.each do |item| %>
  <div class="border-4 bg-gray-100 flex flex-col gap-4">
    <img src="https://plus.unsplash.com/premium_photo-1661517302764-a5fa40c34bf0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" alt="Coffee shop image" class="object-cover rounded-xl h-full w-full">
    <div class="">
      <p class="font-heading text-2xl drop-shadow-2xl"><%= item.title %></p>
      <p class="text-base drop-shadow-mg text-gray-700"><%= item.description %></p>
      <div class="w-full flex justify-between items-end font-bold my-1">
        <%# TODO: Add item to the cart feature here %>
        <%# Cart SVG %>
        <button class="hover:bg-red-300  duration-300 p-0.5 rounded-lg ml-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 512 512"><title>Add to the cart</title><circle cx="176" cy="416" r="16" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><circle cx="400" cy="416" r="16" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><polyline points="48 80 112 80 160 352 416 352" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><path d="M160,288H409.44a8,8,0,0,0,7.85-6.43l28.8-144a8,8,0,0,0-7.85-9.57H128" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
        </button>
        <p class="text-base drop-shadow-mg"><%= item.price %></p>
      </div>
    </div>
  </div>
<% end %>

-->
